<p>Expenses Work</p>
<kendo-grid
  [kendoGridBinding]="gridData"
  kendoGridSelectBy="id"
  [selectedKeys]="mySelection"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"
  [filterable]="true"
  [filter]="null"
  [height]="480"
  [columnMenu]="{ filter: true }"
>
  <ng-template kendoGridToolbarTemplate>
    <!-- <input
      placeholder="Search in all columns..."
      kendoTextBox
      (input)="onFilter($event.target.value)"
    /> -->
    <button
      kendoGridExcelCommand
      type="button"
      icon="file-excel"
      style="float: right;"
    >
      Export to Excel
    </button>
    <button kendoGridPDFCommand icon="file-pdf" style="float: right;">
      Export to PDF
    </button>
  </ng-template>
  <kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{ 'text-center': true }"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    [columnMenu]="false"
    showSelectAll="true"
  ></kendo-grid-checkbox-column>
  <kendo-grid-column-group title="Employee" [columnMenu]="false">
    <kendo-grid-column field="name" title="Contact Name" [width]="220">
      <ng-template kendoGridCellTemplate let-dataItem>
        <!-- <div
          class="customer-photo"
          [ngStyle]="{ 'background-image': photoURL(dataItem) }"
        ></div> -->
        <div class="customer-name">{{ dataItem.name }}</div>
      </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column field="job_title" title="Job Title" [width]="220">
    </kendo-grid-column> -->
    <kendo-grid-column
      field="country"
      title="Country"
      [width]="100"
      [class]="{ 'text-center': true }"
      [resizable]="false"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <img class="flag" [src]="flagURL(dataItem)" width="30" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="is_online"
      title="Status"
      [width]="100"
      [class]="{ 'text-center': true }"
      [resizable]="true"
      filter="boolean"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span *ngIf="dataItem.is_online === true" class="badge badge-success"
          >Online</span
        >
        <span *ngIf="dataItem.is_online === false" class="badge badge-danger"
          >Offline</span
        >
      </ng-template>
    </kendo-grid-column>
  </kendo-grid-column-group>

  <!-- <kendo-grid-column-group title="Contacts" [columnMenu]="false">
    <kendo-grid-column field="phone" title="Phone" [width]="130">
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address" [width]="200">
    </kendo-grid-column>
  </kendo-grid-column-group> -->
  <!-- <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        kendoGridEditCommand
        class="k-primary"
        (click)="editHandler(dataItem)"
      >
        Edit
      </button>
      <button kendoGridRemoveCommand (click)="removeHandler(dataItem)">
        Delete
      </button>
    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-pdf
    fileName="Employees.pdf"
    [repeatHeaders]="true"
  ></kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel> -->
</kendo-grid>
<div>
  <router-outlet></router-outlet>
</div>
