<div class="container col-md-6 col-md-offset-3">
  <h2>Enter new password</h2>
  <form
    name="form"
    (ngSubmit)="f.form.valid && submit()"
    #f="ngForm"
    novalidate
  >
    <div
      class="form-group"
      [ngClass]="{ 'has-error': f.submitted && !password.valid }"
    >
      <label for="newPassword">New Password</label>
      <input
        type="password"
        class="form-control col-lg-6"
        name="password"
        [(ngModel)]="model.password"
        [ngClass]="{ 'has-error': f.submitted && !password.valid }"
        #password="ngModel"
        required
      />

      <div *ngIf="f.submitted && !password.valid" class="form-text text-muted">
        New Password is required
      </div>
    </div>
    <div class="form-group">
      <label for="confirmation">Confirm Password</label>
      <input
        type="password"
        class="form-control col-lg-6"
        name="confirmpassword"
        [(ngModel)]="model.confirmpassword"
        [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }"
        #confirmpassword="ngModel"
        required
      />
      <div *ngIf="f.submitted && !password.value" class="form-text text-muted">
        Confirmation is required
      </div>
      <div
        *ngIf="f.submitted && password.value != confirmpassword.value"
        class="form-text text-muted"
      >
        Confirmation should be equal to your new password
      </div>
    </div>
    <div class="form-group">
      <button class="" mat-stroked-button color="primary" mat-raised-button>
        Save
      </button>
      <a [routerLink]="['/']" class="ml-2" mat-raised-button>Cancel</a>
    </div>
  </form>
</div>
