<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form
    name="form"
    #loginForm="ngForm"
    (ngSubmit)="loginForm.form.valid && login()"
  >
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        type="text"
        [(ngModel)]="model.username"
        name="username"
        matInput
        required
      />
    </mat-form-field>

    <br />
    <mat-form-field>
      <mat-label> Password</mat-label>
      <input
        type="text"
        [(ngModel)]="model.password"
        class="form-control"
        name="password"
        #password="ngModel"
        required
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="form-group">
      <button type="submit" color="primary" mat-raised-button>Login</button>
    </div>
  </form>
</div>
